@model Organization
@{
    ViewData["Title"] = "Create Organization";
}

<h1>Create Organization</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Name" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ContactEmail" class="form-control" placeholder="Email" />
                <label asp-for="ContactEmail"></label>
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Website" class="form-control" placeholder="https://..." />
                <label asp-for="Website"></label>
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="IsVerified" class="form-check-input" />
                <label asp-for="IsVerified" class="form-check-label"></label>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
